
* {
    border: 0px;
    padding: 0ps;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.cuerpo{   
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.navbar__iconosRedesSociales {
    
    color: black;
}

.sobreMi__titulo{
    color: white;
}

.titulos-h2{
    color: white;
}


.sobreMi__contaiener{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 400px;
    padding-top: 100px;
}



.sobreMi__img {
    width: 350px;
}

.sobreMi__parrafo{
    color: white;
    width: 800px;

}

.lenguaje__img {
    width: 200px;
    height: 150px;
}

.card__texto{
    height: 150px;
}


.contactos{
    height: 500px;
}

.contacto__contenedor{

    width: 500px;
    height: 400px;
    margin: auto;
    padding: auto;
    background-color: rgb(238, 16, 16);
    border: 3px solid black;

}

.contactos__titulo {
    color: rgb(0, 0, 0);

}

footer{
    height: 100px;
    padding: 0px 0px;
    justify-content: space-evenly;
}

a {  
    text-decoration: none;
}


.btn{
    margin: 15px;
}

.btn__form{
    height: 40px;
    width: 70px;
    border-radius: 5px;
}

.color__iconosRedes{
    color: white;
}